body {
  background-color: #ccc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.img--container {
  padding: 10px;
  box-shadow: 0px 5px 10px rgb(70, 67, 67);
  border-radius: ;
}

.title {
  letter-spacing: 10px;
  font-weight: 300;
}





*{
  margin: 0;
  padding: 0;
}



.menu{
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.menu ul{
 list-style: none; 
 position: relative;

}

.menu ul li{
  width: auto;
  float: left;

}

.menu a {
  padding: 20px;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: black;
  color: aliceblue;

}

.menu ul ul {

position: absolute;
visibility: hidden;

}

.menu ul li:hover ul{
  visibility: visible;
}

.menu a:hover{
  background-color: #f4f4f4;
  color: black;
} 

.menu ul ul li{
  float: none;
  border-bottom: solid 1px #ccc;
}